.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    display: flex;
    flex-flow: column;
    align-items: center;
    background-color: rgba(0,0,0,0.4);
}

.modalContent {
    background-color: #fefefe;
    margin: 20px;
    padding: 20px;
    max-width: 600px;
    position: relative;
    display: flex;
}
.modalContent h1 {
    margin-top: 90px;
    border-bottom: 1px solid darkgray;
    margin-bottom: 15px;
    padding-bottom: 5px;
}
.modalContent section:not(:last-of-type) {
    margin-right: 20px;
}

.modalClose {
    color: #aaa;
    float: right;
    font-size: 35px;
    font-weight: bold;
    position: absolute;
    top: -17px;
    right: -1px;
}

.modalClose:hover,
.modalClose:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}