.employeeCard{
    display: flex;
    width: 400px;
    height: 128px;
    overflow: hidden;
    border: 1px solid darkgrey;
    margin: 5px;
}
.employeeCard.active {
    background-color: orange;
}
.employeeCardDetails {
    margin: 10px;
    overflow: hidden;
}
.employeeCard h3 {
    margin-top: 0px;
}