.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    padding: 20px;
    margin-bottom: 20px;
    background-color: darkgrey;
}
main {
    margin-left: 20px;
    margin-right: 20px;
}
h1, h2 {
    margin-top: 0px;
    margin-bottom: 5px;
}
.employeesHeading {
    border-bottom: 1px solid darkgrey;
    padding-bottom: 5px;
    margin-bottom: 20px;
}
.employees {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}